.env
__pycache__/
lib/
.DS_Store
.venv
.vscode
src/sales_pipeline_flow/__pycache__
src/sales_pipeline_flow/crews/email_writing_crew/__pycache__
src/sales_pipeline_flow/crews/lead_scoring_crew/__pycache__